.midleware-alert-wrapper {
  margin-bottom: -100px;
  bottom: 0px;
  right: 50px;
  /* display: none; */
  position: fixed;
  padding: 10px 20px;
  border-left: 4px solid cornflowerblue;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #333;
  font-size: 12px;
  box-shadow: 2px 2px 16px -8px rgba(100,100,100,0.75);
  transition: all .5s cubic-bezier(0.3, 0.45, 0.54, 1.18);
  line-height: 30px;
}
.bold-color {
  font-weight: bold;
}
.open {
  margin-bottom: 40px;
  /* display: block; */
} 

.close-icon {
  margin-left: 5px;
  cursor: pointer;
  color: gray;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.close-icon::hover{
  opacity: .5;
}
