.header-wrapper {
    max-width: 1180px;
    margin: auto;
    top: 0px;
    padding-top: 20px
}

.link {
    background-color: cornflowerblue;
    padding: 4px 8px;
    text-decoration: none;
    font-weight: 600;
    margin-right: 10px;
    margin-top: 10px;
    color: white;
}