.absolute-right {
  width: 200px;
  height: auto;
  position: absolute;
  top: 20px;
  right: 200px;
}

.absolute-right > .list-item {
  border: none;
  background-color: white;
  padding: 10px 15px;
  border: 1px solid rgba(0,0,0,0.2);
}